<nav class="header">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">SubscList</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/subscriptions/index">一覧</a></li>
      <li><a href="/subscriptions/new">新規作成</a></li>
      <li><a href="/subscriptions/edit">編集</a></li>
      <li><a href="/users/edit">設定</a></li>
      <li><a href="/users/sigh_out">ログアウト</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/subscriptions/index">一覧</a></li>
      <li><a href="/subscriptions/new">新規作成</a></li>
      <li><a href="/subscriptions/edit">編集</a></li>
      <li><a href="/users/edit">設定</a></li>
      <li><a href="/users/sigh_out">ログアウト</a></li>
    </ul>
  </div>
</nav>

<h1>SubscList</h1>

<script type="text/javascript" src="./application.js"></script>
</body>
